/*estilos de componente PokemonIndividual*/
#containerFav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0.9;
    border-radius: 20px;
}

#individual_card{
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
    border-style:solid;
    border-color:transparent;
    color:white
}