/*estilos del componente PokemonList*/
.pokemonList{
    opacity: 0.9;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    max-width: 50%;
    padding-bottom:10px;
}
#pokemonCard{
    margin:0;
    padding-bottom: 10px;
    background-color: rgb(241, 237, 237);
    margin:10px;
    border-style:solid;
    border-color:transparent;
    border-radius:30px;
    padding-top:10px
    
}

.button_container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#button_info{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #FE6565;
}

#button_info:hover{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #414549;
    color:white;
}

#button_Next{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #FE6565;
}
#button_Previous{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #FE6565;
}
#button_Next:hover{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #414549;
    color:white;
}

#button_Previous:hover{
    border-radius: 20px;
    border-style:solid;
    border-color:transparent;
    background-color: #414549;
    color:white;
}